{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
{% load i18n %}
        <h2>
         <text><i class="fa fa-pencil fa-3" aria-hidden="true"></i> Contacto</text>
        </h2>
        <hr>
        <div class="content">
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" >
          {% trans "Puedes contactarnos en" %} <a class=":mailto" href="mailto:info.semillasocial@gmail.com"> info.semillasocial@gmail.com</a>
            </div>
         </div>
         <br>
        
<br><br><br><br><br>
{% endblock %}

