{% extends "base.html" %}

{% block content %}

    <style type="text/css">
        ul.lst-kix_477jo9r811jj-4 {
            list-style-type: none
        }
        ul.lst-kix_477jo9r811jj-3 {
            list-style-type: none
        }
        ul.lst-kix_477jo9r811jj-6 {
            list-style-type: none
        }
        ul.lst-kix_477jo9r811jj-5 {
            list-style-type: none
        }
        .lst-kix_hefoekjs4bz5-0>li:before {
            content: "-  "
        }
        .lst-kix_hefoekjs4bz5-2>li:before {
            content: "-  "
        }
        ul.lst-kix_477jo9r811jj-8 {
            list-style-type: none
        }
        ul.lst-kix_477jo9r811jj-7 {
            list-style-type: none
        }
        .lst-kix_hefoekjs4bz5-3>li:before {
            content: "-  "
        }
        .lst-kix_hefoekjs4bz5-4>li:before {
            content: "-  "
        }
        .lst-kix_hefoekjs4bz5-6>li:before {
            content: "-  "
        }
        ul.lst-kix_477jo9r811jj-0 {
            list-style-type: none
        }
        ul.lst-kix_477jo9r811jj-2 {
            list-style-type: none
        }
        ul.lst-kix_477jo9r811jj-1 {
            list-style-type: none
        }
        .lst-kix_hefoekjs4bz5-5>li:before {
            content: "-  "
        }
        .lst-kix_sy7a38j9gdif-8>li:before {
            content: "-  "
        }
        .lst-kix_sy7a38j9gdif-7>li:before {
            content: "-  "
        }
        .lst-kix_477jo9r811jj-7>li:before {
            content: "-  "
        }
        .lst-kix_477jo9r811jj-8>li:before {
            content: "-  "
        }
        .lst-kix_477jo9r811jj-5>li:before {
            content: "-  "
        }
        .lst-kix_477jo9r811jj-6>li:before {
            content: "-  "
        }
        .lst-kix_hefoekjs4bz5-1>li:before {
            content: "-  "
        }
        ul.lst-kix_hefoekjs4bz5-2 {
            list-style-type: none
        }
        ul.lst-kix_hefoekjs4bz5-1 {
            list-style-type: none
        }
        ul.lst-kix_hefoekjs4bz5-0 {
            list-style-type: none
        }
        ul.lst-kix_sy7a38j9gdif-4 {
            list-style-type: none
        }
        ul.lst-kix_sy7a38j9gdif-3 {
            list-style-type: none
        }
        .lst-kix_3dnd0bmbxtpz-1>li:before {
            content: "-  "
        }
        .lst-kix_3dnd0bmbxtpz-2>li:before {
            content: "-  "
        }
        ul.lst-kix_sy7a38j9gdif-6 {
            list-style-type: none
        }
        ul.lst-kix_sy7a38j9gdif-5 {
            list-style-type: none
        }
        .lst-kix_hefoekjs4bz5-8>li:before {
            content: "-  "
        }
        ul.lst-kix_sy7a38j9gdif-8 {
            list-style-type: none
        }
        ul.lst-kix_sy7a38j9gdif-7 {
            list-style-type: none
        }
        .lst-kix_3dnd0bmbxtpz-0>li:before {
            content: "-  "
        }
        .lst-kix_3dnd0bmbxtpz-4>li:before {
            content: "-  "
        }
        .lst-kix_hefoekjs4bz5-7>li:before {
            content: "-  "
        }
        .lst-kix_3dnd0bmbxtpz-3>li:before {
            content: "-  "
        }
        .lst-kix_3dnd0bmbxtpz-8>li:before {
            content: "-  "
        }
        .lst-kix_1v174wq0uk6a-8>li:before {
            content: "\0025a0  "
        }
        .lst-kix_3dnd0bmbxtpz-5>li:before {
            content: "-  "
        }
        .lst-kix_3dnd0bmbxtpz-6>li:before {
            content: "-  "
        }
        ul.lst-kix_sy7a38j9gdif-0 {
            list-style-type: none
        }
        .lst-kix_3dnd0bmbxtpz-7>li:before {
            content: "-  "
        }
        ul.lst-kix_sy7a38j9gdif-2 {
            list-style-type: none
        }
        ul.lst-kix_sy7a38j9gdif-1 {
            list-style-type: none
        }
        ul.lst-kix_hefoekjs4bz5-6 {
            list-style-type: none
        }
        ul.lst-kix_hefoekjs4bz5-5 {
            list-style-type: none
        }
        ul.lst-kix_hefoekjs4bz5-4 {
            list-style-type: none
        }
        ul.lst-kix_3dnd0bmbxtpz-0 {
            list-style-type: none
        }
        ul.lst-kix_hefoekjs4bz5-3 {
            list-style-type: none
        }
        .lst-kix_1v174wq0uk6a-1>li:before {
            content: "\0025cb  "
        }
        ul.lst-kix_3dnd0bmbxtpz-1 {
            list-style-type: none
        }
        ul.lst-kix_3dnd0bmbxtpz-2 {
            list-style-type: none
        }
        .lst-kix_1v174wq0uk6a-0>li:before {
            content: "\0025cf  "
        }
        ul.lst-kix_3dnd0bmbxtpz-3 {
            list-style-type: none
        }
        ul.lst-kix_hefoekjs4bz5-8 {
            list-style-type: none
        }
        ul.lst-kix_3dnd0bmbxtpz-4 {
            list-style-type: none
        }
        ul.lst-kix_hefoekjs4bz5-7 {
            list-style-type: none
        }
        ul.lst-kix_3dnd0bmbxtpz-5 {
            list-style-type: none
        }
        ul.lst-kix_3dnd0bmbxtpz-6 {
            list-style-type: none
        }
        ul.lst-kix_3dnd0bmbxtpz-7 {
            list-style-type: none
        }
        ul.lst-kix_3dnd0bmbxtpz-8 {
            list-style-type: none
        }
        .lst-kix_sy7a38j9gdif-1>li:before {
            content: "-  "
        }
        .lst-kix_477jo9r811jj-1>li:before {
            content: "-  "
        }
        .lst-kix_477jo9r811jj-2>li:before {
            content: "-  "
        }
        .lst-kix_sy7a38j9gdif-0>li:before {
            content: "-  "
        }
        .lst-kix_sy7a38j9gdif-2>li:before {
            content: "-  "
        }
        .lst-kix_sy7a38j9gdif-3>li:before {
            content: "-  "
        }
        ul.lst-kix_1v174wq0uk6a-2 {
            list-style-type: none
        }
        ul.lst-kix_1v174wq0uk6a-1 {
            list-style-type: none
        }
        .lst-kix_477jo9r811jj-0>li:before {
            content: "-  "
        }
        .lst-kix_477jo9r811jj-3>li:before {
            content: "-  "
        }
        .lst-kix_477jo9r811jj-4>li:before {
            content: "-  "
        }
        ul.lst-kix_1v174wq0uk6a-0 {
            list-style-type: none
        }
        .lst-kix_sy7a38j9gdif-5>li:before {
            content: "-  "
        }
        .lst-kix_sy7a38j9gdif-4>li:before {
            content: "-  "
        }
        .lst-kix_sy7a38j9gdif-6>li:before {
            content: "-  "
        }
        .lst-kix_1v174wq0uk6a-2>li:before {
            content: "\0025a0  "
        }
        .lst-kix_1v174wq0uk6a-3>li:before {
            content: "\0025cf  "
        }
        .lst-kix_1v174wq0uk6a-5>li:before {
            content: "\0025a0  "
        }
        .lst-kix_1v174wq0uk6a-4>li:before {
            content: "\0025cb  "
        }
        ul.lst-kix_1v174wq0uk6a-6 {
            list-style-type: none
        }
        .lst-kix_1v174wq0uk6a-7>li:before {
            content: "\0025cb  "
        }
        ul.lst-kix_1v174wq0uk6a-5 {
            list-style-type: none
        }
        ul.lst-kix_1v174wq0uk6a-4 {
            list-style-type: none
        }
        ul.lst-kix_1v174wq0uk6a-3 {
            list-style-type: none
        }
        .lst-kix_1v174wq0uk6a-6>li:before {
            content: "\0025cf  "
        }
        ul.lst-kix_1v174wq0uk6a-8 {
            list-style-type: none
        }
        ul.lst-kix_1v174wq0uk6a-7 {
            list-style-type: none
        }
        ol {
            margin: 0;
            padding: 0
        }
        table td,
        table th {
            padding: 0
        }
        .c0 {
            orphans: 2;
            widows: 2;
            height: 11pt
        }
        .c1 {
            page-break-after: avoid;
            orphans: 2;
            widows: 2
        }
        .c5 {
            background-color: #ffffff;
            max-width: 468pt;
            padding: 72pt 72pt 72pt 72pt
        }
        .c2 {
            orphans: 2;
            widows: 2
        }
        .c8 {
            color: #1155cc;
            text-decoration: underline
        }
        .c4 {
            padding: 0;
            margin: 0
        }
        .c7 {
            margin-left: 72pt;
            padding-left: 0pt
        }
        .c6 {
            margin-left: 36pt;
            padding-left: 0pt
        }
        .c3 {
            color: inherit;
            text-decoration: inherit
        }
        .c9 {
            font-weight: bold
        }
        .title {
            padding-top: 0pt;
            color: #000000;
            font-size: 26pt;
            padding-bottom: 3pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 15pt;
            padding-bottom: 16pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }
        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }
        h1 {
            padding-top: 20pt;
            color: #000000;
            font-size: 20pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        h2 {
            padding-top: 18pt;
            color: #000000;
            font-size: 16pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        h3 {
            padding-top: 16pt;
            color: #434343;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        h4 {
            padding-top: 14pt;
            color: #666666;
            font-size: 12pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        h5 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        h6 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }
    </style>
    <h1 class="c1" id="h.213dsn9rtdus"><span>El proyecto</span></h1>
    <p class="c2"><span>Es una plataforma transparente y sin &aacute;nimo de lucro de intercambio de bienes y servicios donde se puede participar sin moneda de curso legal. </span>
    </p>
    <p class="c2"><span>Se basa en la abundancia de recursos, la capacidad creativa, art&iacute;stica, manual e intelectual de todos sus miembros, ya sean ni&ntilde;os, mayores, j&oacute;venes, asalariados, parados, amas de casa, etc. </span>
    </p>
    <p class="c0"><span></span>
    </p>
    <p class="c0"><span></span>
    </p>
    <h3 class="c1" id="h.rv2l0mbbroy5"><span>Objetivo</span></h3>
    <p class="c2"><span class="c9">El objetivo de proyecto es el pleno empleo.</span><span>&nbsp;Pero no el pleno empleo como se suele contemplar. Empleo remunerado de todas las personas que sostienen la sociedad. &nbsp;</span>
    </p>
    <p class="c0"><span></span>
    </p>
    <p class="c0"><span></span>
    </p>
    <p class="c2"><span>Seg&uacute;n </span><span class="c8"><a class="c3" href="https://www.google.com/url?q=http://www.vivirsinempleo.org/&amp;sa=D&amp;ust=1467827780119000&amp;usg=AFQjCNHy-xc8xo0kt8JxYTn_NfDUYHs66g">Gisbert</a></span><span>, consideramos dos econom&iacute;as:</span>
    </p>
    <h3 class="c1" id="h.yjvauzcispr5"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 624.00px; height: 360.40px;"><img alt="" src="static/images/economies_comparison_es.png" style="width: 624.00px; height: 360.40px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></h3>
    <p class="c0"><span></span>
    </p>
    <p class="c2"><span>Ambas son muy necesarias para el funcionamiento correcto de la sociedad. Todo el trabajo altruista de la segunda permite que la primera tenga tengo un valor de cambio tan alto en el mercado. </span>
    </p>
    <p class="c0"><span></span>
    </p>
    <p class="c2"><span>La monetaria est&aacute; depredando a la paraecon&oacute;mica en la b&uacute;squeda por el pleno empleo y el constante crecimiento econ&oacute;mico. Adem&aacute;s de estar depredando nuestros ritmos naturales y nuestros ecosistemas.</span>
    </p>
    <p class="c0"><span></span>
    </p>
    <p class="c2"><span>La paraecon&oacute;mica, muy da&ntilde;ada, primero, con la migraci&oacute;n del campo a la ciudad. La incorporaci&oacute;n de la mujer al mercado laboral (algo indudablemente muy bueno para la igualdad de g&eacute;nero), y unidades familiares cada vez m&aacute;s fr&aacute;giles (ejemplo: un padre soltero con dos hijas). Afectando a todas estas econom&iacute;as de ayuda mutua, econom&iacute;as de cuidados y econom&iacute;as de reutilizaci&oacute;n de bienes. </span>
    </p>
    <p class="c0"><span></span>
    </p>
    <p class="c2"><span>Este proyecto pretende ser un puente entre ambas econom&iacute;as. En ning&uacute;n caso desafiar a la moneda de curso legal. Sino permitir a mucha gente obtener bienes de forma accesible. </span>
    </p>
    <p class="c0"><span></span>
    </p>
    <p class="c0"><span></span>
    </p>
    <p class="c2"><span>Existen muchos proyectos de divisas sociales en marcha. Semillas es una tecnolog&iacute;a abierta y confiable, al servicio de lo humano y la naturaleza, como herramienta de cambio social. </span>
    </p>
    <p class="c0"><span></span>
    </p>
    <p class="c0"><span></span>
    </p>
    <p class="c2"><span>Buscamos voluntarios de todo tipo: divulgadores, t&eacute;cnicos inform&aacute;ticos, economistas, abogados, traductores, amigos que nos traigan frutos secos y semillas.</span>
    </p>
    <h3 class="c1" id="h.4bbn1xb83ogq"><span>A qui&eacute;n est&aacute; enfocado:</span></h3>
    <p class="c0"><span></span>
    </p>
    <ul class="c4 lst-kix_3dnd0bmbxtpz-0 start">
        <li class="c2 c6"><span>Trabajos fuera del PIB</span>
        </li>
    </ul>
    <ul class="c4 lst-kix_3dnd0bmbxtpz-1 start">
        <li class="c2 c7"><span>Econom&iacute;a de cuidados</span>
        </li>
        <li class="c2 c7"><span>Acompa&ntilde;amiento de ancianos</span>
        </li>
    </ul>
    <ul class="c4 lst-kix_3dnd0bmbxtpz-0">
        <li class="c2 c6"><span>Gente que quiere empezar a dedicarse a algo que le gusta hacer. Ganando experiencia y sustento.</span>
        </li>
        <li class="c2 c6"><span>Aquellos que han quedado excluidos del mercado laboral. Simplemente porque la moneda de curso legal tiene un valor muy alto. Y no todo el mundo puede ganarla y a la vez tener la vida que necesita tener. </span>
        </li>
        <li class="c2 c6"><span>Comunidades de la </span><span class="c8"><a class="c3" href="https://www.google.com/url?q=https://es.wikipedia.org/wiki/Comunidad_de_transici%25C3%25B3n&amp;sa=D&amp;ust=1467827780124000&amp;usg=AFQjCNFFOZTZ8dxRkAbuDL450WKzD_U8rg">transici&oacute;n</a></span><span>&nbsp;que quieran cambiar el mundo. </span>
        </li>
        <li class="c2 c6"><span>Productores y artesanos que quieran vender sus maravillosos productos por otro canal</span>
        </li>
        <li class="c2 c6"><span>Monedas sociales, redes de trueque o bancos de tiempo existentes que quieran adherirse y empezar a usar esta herramienta. </span>
        </li>
    </ul>
    <p class="c0"><span></span>
    </p>
    <p class="c0"><span></span>
    </p>
    <p class="c0"><span></span>
    </p>
    <h3 class="c1" id="h.6zhirabumle8"><span>Como funciona:</span></h3>
    <p class="c0"><span></span>
    </p>
    <p class="c2"><span>A nivel de funcionalidad y dise&ntilde;o, pretende ser una copia de la exitosa start-up espa&ntilde;ola: Wallapop. </span>
    </p>
    <h4 class="c1" id="h.4xubwgway7ox"><span>Local y Global </span></h4>
    <p class="c0"><span></span>
    </p>
    <p class="c2"><span>Como en Wallapop, el orden de las ofertas ser&aacute; por proximidad para favorecer el mercado local. </span>
    </p>
    <p class="c0"><span></span>
    </p>
    <p class="c2"><span>Sin embargo, queremos dar una posibilidad tecnol&oacute;gica para poder obtener, a cambio de tus semillas, clases de ingl&eacute;s al otro lado del oc&eacute;ano. Todav&iacute;a por dise&ntilde;ar. </span>
    </p>
    <p class="c0"><span></span>
    </p>
    <h4 class="c1" id="h.88anfvvqlnrr"><span>La creaci&oacute;n de semillas: </span></h4>
    <p class="c2"><span>La inyecci&oacute;n de moneda en el sistema ser&aacute;: </span>
    </p>
    <p class="c0"><span></span>
    </p>
    <p class="c2"><span>Registro con tel&eacute;fono: 10 semillas</span>
    </p>
    <p class="c0"><span></span>
    </p>
    <p class="c2"><span>Publicaci&oacute;n del primer servicio: 5 semillas</span>
    </p>
    <p class="c2"><span>Primera venta o primer servicio ofrecido: 15 semillas</span>
    </p>
    <p class="c0"><span></span>
    </p>
    <p class="c2"><span>Cualquier donaci&oacute;n en euros para desarrollar y fomentar la plataforma tendr&aacute; una recompensa en el mismo n&uacute;mero de semillas. 1 Euro - 1 Semilla. </span>
    </p>
    <p class="c0"><span></span>
    </p>
    <h4 class="c1" id="h.vz4hkkg7yep5"><span>Conversi&oacute;n de semillas a euros</span></h4>
    <p class="c2"><span>No se permite tal opci&oacute;n. Quedar&iacute;a una relaci&oacute;n clara y directa de 1-1 de Semillas/Euros. Y la plataforma ser&iacute;a una forma de realizar intercambios evadiendo al fisco. </span>
    </p>
    <p class="c0"><span></span>
    </p>
    <h3 class="c1" id="h.am75sm9t1rab"><span>Quienes Somos: </span></h3>
    <p class="c2"><span>Semilla social pretende constitu&iacute;rse como ONG. </span>
    </p>
    <p class="c0"><span></span>
    </p>
    <p class="c2"><span>Tanto el servidor como los clientes pretenden ser de c&oacute;digo abierto, alojados en </span><span class="c8"><a class="c3" href="https://www.google.com/url?q=https://github.com/Semillas&amp;sa=D&amp;ust=1467827780133000&amp;usg=AFQjCNEaF6BoluH04A1IZtfqDv7G0Bl-_A">Github</a></span><span>. </span>
    </p>
    <p class="c0"><span></span>
    </p>
    <p class="c2"><span>Buscamos desarrolladores de todo tipo Android e iOS.</span>
    </p>
    <p class="c0"><span></span>
    </p>
    <h3 class="c1" id="h.syhljxxb1yyv"><span>Estado del proyecto:</span></h3>
    <p class="c2"><span>Esto que ves es todo lo que hay </span>
    </p>
    <p class="c0"><span></span>
    </p>

{% endblock content %}

