// -----------------------------------------------------------------------------
// This file contains all application-wide hard fixes.
// -----------------------------------------------------------------------------

// --------------------------------
// Alerts
// --------------------------------

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error
.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

// --------------------------------
// Django Toolbar
// --------------------------------

// Display django-debug-toolbar.
// See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
// and https://github.com/pydanny/cookiecutter-django/issues/317
[hidden][style="display: block;"] {
  display: block !important;
}