// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// --------------------------------
// Text
// --------------------------------
$serifFont:
        "Vollkorn",
        "Georgia",
        "Times New Roman",
        "Palatino",
        serif;

$sansFont:
        "Lato",
        "San Francisco",
        "Arial",
        "Helvetica",
        "Verdana",
        sans-serif;



// --------------------------------
// Color
// --------------------------------
$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;


$max-width:            800px;
$text-color:             #222222;
$mainColor:           #00FFB6;
$secondaryColor:  #FF8360;