// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// --------------------------------
// Text
// --------------------------------
$headingsFont:
        "Fira Sans",
        "San Francisco",
        "Arial",
        "Helvetica",
        "Verdana",
        sans-serif;

$bodyFont:
        "Droid Serif",
        "Georgia",
        "Times New Roman",
        "Palatino",
        serif;



// --------------------------------
// Base Colors
// --------------------------------
$alertColor:                 #67b5db;
$alertHoverColor:       blue;
$backgroundColor:     white;
$headingsColor:         #b1957d;
$textColor:                  #564f47;
$ctaColor:                   #e29e4b;
$ctaHoverColor:         brown;


// --------------------------------
// Grey Colors
// --------------------------------
$lightGrey:        #a0a0a0;
$mediumGrey:       #282828;
$darkGrey:         #121212;



// --------------------------------
// Max-Width
// --------------------------------
$max-width:       1024px;


// --------------------------------
// Border-Radius
// --------------------------------
$borderRadius:     3px;


// --------------------------------
//  Breakpoints
// --------------------------------
//
// small: 320px (target) / 16px (context) = 20em
// medium: 720px (target) / 16px (context) = 45em
// large: 1024px (target) / 16px (context) = 64em
// xtraLarge: 1280px (target) / 16 (context) = 80em
// xtraBig: 1920 (target) / 16 (context) = 120em
//
$bpSmall: 20em;
$bpMedium: 45em;
$bpLarge: 64em;
$bpXtraLarge: 80em;
$bpXtraBig: 120em;


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
