/**
 * Basic typography style for copy text
 */
body {
	font: 16px/1.4 $bodyFont;
	font: 1rem/1.4 $bodyFont;
  color: $textColor;
}

// 
// H1, H2, H3, H4 & H5 fontfamily
// 
h1, h2, h3, h4, h5 {
	margin-top: 30px;
	font-family: $headingsFont;
	font-weight: bold;
	color: $headingsColor;
	text-transform: uppercase;
}

//
// Vertical rhythm
//
p, ul, ol, li {
	margin-top: 12px;
	margin-top: 0.75em;
}
