{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
{% load i18n %}
        <h2>
         <text><i class="fa fa-leaf fa-3" aria-hidden="true"></i>
             {% trans "Service" %}
         </text>
        </h2>
        <hr>
        <div class="content">
             <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" >
              <ul class="list-group">
                <li class="list-group-item"><b>{% trans "Title" %}</b>
                    {{ object.title|capfirst }}
                </li>
                {% if object.period %}
                    <li class="list-group-item"><b>{% trans "Available since" %}</b>
                        {{ object.sign_date|date }}
                    </li>
                {% else %}
                    <li class="list-group-item"><b>{% trans "Day" %}</b>
                    {{ object.date }}
                    </li>
                {% endif %}
                <li class="list-group-item"><b>{% trans "Available": %}</b>
                    {% if object.available %}
                      <span class="glyphicon glyphicon-ok" aria-hiddin="True"></span>
                    {% else %}
                      <span class="glyphicon glyphicon-remove" aria-hiddin="True"></span>
                    {% endif %}
                </li>
                <li class="list-group-item"><b>{% trans "Information" %}</b>
                    {% if object.text %} {{ object.text|linebreaks }}
                    {%else%}
                        ¿?not provided.
                    {%endif%}
                </li>
                {% if object.url %}
                    <li class="list-group-item">
                      <b>{% trans "link" %}</b>
                      <a href="{{object.url}}" target=_blank>
                          {% trans "Link to website" %}
                        <span class="glyphicon glyphicon-anchor"
                              aria-hiddin="True"></span></a>
                    </li>
                {%endif%}
                <li class="list-group-item"><b>{%  trans "Seeds" %}</b>
                    {{ object.seeds }}
                </li>
                {% if object.pic %}
                 <li class="list-group-item">
                     <a href="{% url 'object.pic.url' %}" target=_blank>
                      <div class="thumbnail"> <img src="{{object.pic.url}}">
                      </div>
                    </a>
                </li>
                {% endif %}
              </ul>
             <p>
             {% trans "Nothing yet..." %}
                 <a href="{% url 'board: service' %}">Link</a>.
             </p>
              </div>
         </div>
<br><br><br><br><br>
{% endblock %}
