// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.page-head--masthead .site-nav {
  position: absolute;
  width: 100%;
  top: 0;
}
  
  .page-head--masthead {

    // background: url(../images/masthead-lg.jpg)no-repeat center center; 
    // -webkit-background-size: cover;
    //    -moz-background-size: cover;
    //         background-size: cover;
    // color: $backgroundColor;
    // box-shadow: 0 0 10px rgba(0,0,0,0.1) inset;
  }

      @media screen and (min-width: $bpMedium) {
        .page-head--masthead {
            background: url(../images/masthead-lg.jpg)no-repeat center center; 
        }
      }

// I do not understand why there is a large media query

      @media screen and (min-width: $bpLarge) {
        .page-head--masthead {
            background: url(../images/masthead-lg.jpg)no-repeat center center; 
              -webkit-background-size: cover;
                -moz-background-size: cover;
                  -o-background-size: cover;
                  background-image: linear-gradient(119deg, #77b483, #80b2ba);
            height: 800px;
        }
      }

  .wrapper {
    margin: 0 auto;
  }

    @media screen and (min-width: 720px) {
      .wrapper {
          padding-right: 24px;
          padding-left: 24px;
      }
    }

  .page-head--masthead > .wrapper {
    position: relative;
  }

  @media screen and (min-width: $bpMedium) {
    .page-head--masthead > .wrapper {
        padding-top: 0;
        height: 560px;
        height: 35em;
    }
  }

  .flag-form {
    padding-top: 400px;
    padding-top: 25em;
  }

    @media screen and (min-width: $bpMedium) {
      .flag-form {
          padding-top: 16px;
          padding-top: 1em;
      }
    }



  .page-head--content {
    display: flex;
    align-items: left;
    justify-content: left;
    width: 768px;
    height: 252px;

  }

     h2 {
      font-size: 32px;
      font-size: 2rem;
      font-weight: bold;
      text-transform: uppercase;
      margin-left: 137px;
      font-family: CircularStd;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.4;
      letter-spacing: normal;
      color: #ffffff;
      @include centeredTextShadow();

    }



    @media screen and (min-width: $bpMedium) {
      .page-head--content {
        height: 560px;
        height: 35em;
        width: 50%;
        padding-top: 200px;
      }
    }



