{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
{% load i18n %}
        <h2>
         <text>
            <i class="fa fa-question" aria-hidden="true"></i>
             {% trans "Sobre semillas" %}
         </text>
        </h2>
        <hr>
        <div class="content">
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-12" >
                 <blockquote class="blockquote">
                 <p class="m-b-0">{% trans "Sección aún por hacerse...." %}.</p>
                 <footer class="blockquote-footer">
                     Ese pedazo de mamaar a wan papaar papaar consectetur. Va usté muy cargadoo reprehenderit pecador ex. Caballo whiterly caballo negroorl consequat ex occaecat aliquip cillum ut llevame al sircoo. Reprehenderit llevame al sircoo benemeritaar nisi tempor ad consectetur irure amatomaa velit aute. Jarl commodo diodenoo incididunt ese pedazo de qué dise usteer apetecan incididunt hasta luego Lucas pecador officia. Aute duis consequat ese que llega pecador esse sed ese pedazo de.

                 </footer>
                 </blockquote>
          </div>
        </div>
        <br>
<br><br><br><br><br>
{% endblock %}

