{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
{% load i18n %}
    <h2>
         <text>
            <i class="fa fa-code-fork" aria-hidden="true"></i>
             {% trans "Version 0.1" %}
         </text>
    </h2>
    <hr>
    <div class="container">
        <div class="row">
            <div class="cols-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <p>Product requirement document for the first version of Semillas:
                <a href="https://docs.google.com/document/d/1S0ZCtLXP4x_1L_MLkHynEIOlutPAkWuRLcyUvIBbBlc/edit?usp=sharing"> Semillas PRD 0.1 </a>
                </p>
                <p>Also here is the <a href="https://github.com/Semillas">Github Account</a></p>
            </div><!--end of cols group CERO-->
            <div class="cols-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h2><text>
                <i class="fa fa-archive" aria-hidden="true"></i>
                    Software:
                </text></h2>
                <hr>
            </div>
             <div class="cols-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                 <div class="card text-xs-center">
                     <div class="card-block">
                        <h4 class="card-title">Django</h4>
                        <img src="{% static 'images/django.png' %}" class="center-block img-fluid" alt="Django image">
                        <p class="card-text">The awesome framework that makes this possible.</p>
                        <a href="http://www.djangoproject.com" class="btn btn-link">Website</a>
                     </div>
                 </div>
                 <div class="card text-xs-center">
                     <div class="card-block">
                        <h4 class="card-title">Docker</h4>
                         <img src="{% static 'images/docker.png' %}" class="center-block img-fluid" alt="Docker image">
                        <p class="card-text">Docker is what holds everything and makes it easy to export.</p>
                        <a href="https://www.docker.com/" class="btn btn-link">Website</a>
                     </div>
                 </div>
                 <div class="card text-xs-center">
                     <div class="card-block">
                        <h4 class="card-title">GitHub</h4>
                         <img src="{% static 'images/gitHub.png' %}" class="center-block img-fluid" alt="GitHub image">
                        <p class="card-text">The repository used to control software version.</p>
                        <a href="https://www.github.com" class="btn btn-link">Website</a>
                        <a href="https://github.com/Semillas" class="btn btn-link">Our repository</a>
                     </div>
                 </div>
                 <div class="card text-xs-center">
                     <div class="card-block">
                        <h4 class="card-title">Gunicorn</h4>
                         <img src="{% static 'images/gunicorn.jpg' %}" class="center-block img-fluid" alt="Gunicorn Image">
                        <p class="card-text">Things get served with Gunicorn.</p>
                        <a href="http://gunicorn.org" class="btn btn-link">Website</a>
                     </div>
                 </div>
                 <div class="card text-xs-center">
                     <div class="card-block">
                        <h4 class="card-title">Slack</h4>
                        <img src="{% static 'images/web-slack.png' %}" class="center-block img-fluid" alt="Slack Image">
                        <p class="card-text">The future of chats. Is where the team gets updated and have fun.</p>
                        <a href="https://slack.com/" class="btn btn-link">Website</a>
                        <a href="https://semillas.slack.com/" class="btn btn-link">Our channel</a>
                     </div>
                 </div>
                 <div class="card text-xs-center">
                     <div class="card-block">
                        <h4 class="card-title">HTML5</h4>
                        <img src="{% static 'images/html5.png' %}" class="center-block img-fluid" alt="HTML5 Image">
                        <p class="card-text">The main Internet front language.</p>
                        <a href="https://www.w3.org/TR/html5/" class="btn btn-link">Website</a>
                     </div>
                 </div>
                 <div class="card text-xs-center">
                     <div class="card-block">
                        <h4 class="card-title">Heroku</h4>
                         <img src="{% static 'images/heroku.png' %}" class="center-block img-fluid" alt="Heroku Image">
                        <p class="card-text">Is the place where our code runs.</p>
                        <a href="https://www.heroku.com/" class="btn btn-link">Website</a>
                     </div>
                 </div>
             </div><!--end of cols group TWO-->

             <div class="cols-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                 <div class="card text-xs-center">
                     <div class="card-block">
                        <h4 class="card-title">Python</h4>
                        <img src="{% static 'images/python.png' %}" class="center-block img-fluid" alt="Python Image">
                        <p class="card-text">It's the powerful languaje where all is made with, such as Django.</p>
                        <a href="https://www.python.org" class="btn btn-link">Website</a>
                     </div>
                 </div>
                 <div class="card text-xs-center">
                     <div class="card-block">
                        <h4 class="card-title">Linux</h4>
                         <img src="{% static 'images/tux.png' %}" class="center-block img-fluid" alt="Tux Image">
                        <p class="card-text">We love GNU-Linux and the whole project is under it. We are Linux enthusiasts!</p>
                        <a href="https://www.linux.com/" class="btn btn-link">Website</a>
                     </div>
                 </div>
                <div class="card text-xs-center">
                     <div class="card-block">
                        <h4 class="card-title">Swagger</h4>
                         <img src="{% static 'images/swagger.png' %}" class="center-block img-fluid" alt="Swagger Image">
                        <p class="card-text">This swagg software helps us test quality code.</p>
                        <a href="http://swagger.io" class="btn btn-link">Website</a>
                     </div>
                 </div>
                 <div class="card text-xs-center">
                     <div class="card-block">
                        <h4 class="card-title">Sentry</h4>
                         <img src="{% static 'images/sentry.png' %}" class="center-block img-fluid" alt="Sentry Image">
                        <p class="card-text">For fixing and log errors on the server.</p>
                        <a href="https://sentry.io" class="btn btn-link">Website</a>
                     </div>
                 </div>
                 <div class="card text-xs-center">
                     <div class="card-block">
                        <h4 class="card-title">JavaScript</h4>
                         <img src="{% static 'images/JS.png' %}" class="center-block img-fluid" alt="JavaScript Image">
                        <p class="card-text">We use JavaScript to make the web more friendable :).</p>
                        <a href="#" class="btn btn-link">Website</a>
                     </div>
                 </div>
                <div class="card text-xs-center">
                     <div class="card-block">
                        <h4 class="card-title">Bootstrap</h4>
                         <img src="{% static 'images/bootstrap.png' %}" class="center-block img-fluid" alt="Bootstrap Image">
                        <p class="card-text">The frontend framework used to make this gorgeous!</p>
                        <a href="https://www.getbootstrap.com" class="btn btn-link">Website</a>
                     </div>
                 </div>
                 <div class="card text-xs-center">
                     <div class="card-block">
                        <h4 class="card-title">License</h4>
                         <img src="{% static 'images/creativeCommons.png' %}" class="center-block img-fluid" alt="License Image">
                        <p class="card-text">Our code is free and open.</p>
                        <a href="http://creativecommons.org" class="btn btn-link">Website</a>
                     </div>
                 </div>
              </div><!--end of cols group TRHEE-->
             </div>
        </div>
    </div>
{% endblock %}
