{% extends "base.html" %}
{% block content %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load staticfiles %}


  <div class="container-fluid">
    <div class="row" style="align-items: center; display: flex; flex-wrap: wrap;">
      <div class="product_image col-sm-5 text-center">
        
        <img src="{% static 'landing/images/product/feed.png' %}" alt="web phone feed" style="width: 85%;">
      </div>
      <div class="description col-sm-7">
        <p class="product-title" style="font-size:26px;"><strong>{% trans "Marketplace Social " %}</strong></p>
        <p class="product-description" style="font-size:20px; color:grey;">{% trans "Se basa en la abundancia de recursos, la capacidad creativa, artística, manual e intelectual de todos sus miembros." %}</p>
        <p class="product-description" style="font-size:20px; color:grey;">{% trans "Los bienes y servicios ofertados aparecen ordenados por proximidad" %}</p>
      </div>
    </div>
  </div>

  <div class="container-fluid section-two" style="position: relative; z-index: 1;">
    <div class="bg" style="background: url('{% static 'landing/images/product_background.jpg' %}') no-repeat center center fixed; background-size:100% auto;position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background: url(test.jpg) center center;*/
    opacity: 0.15;
    width: 100%;
    height: 100%;"></div>
    <div class="row" style="align-items: center; display: flex; flex-wrap: wrap-reverse;">
      <div class="description col-sm-7 text-right" style="vertical-align: middle;">
        <p class="product-title" style="font-size:26px;"><strong>{% trans "Cooperativa " %}</strong></p>
        <p style="font-size:20px; color:grey;">{% trans "Somos una cooperativa y nuestro producto es software libre." %}</p>
        <a href="/landing/people/" class="btn btn-primary btn-round-lg" style="border-radius: 40.5px; width: 210px; max-width: 300px;border-color:#67b26f;color:#67b26f;background-color:transparent;font-size: 20px; text-transform:none;"><strong>Ven y Participa</strong></a>
      </div>
      <div class="product_image col-sm-5 text-center">
        <img src="{% static 'landing/images/product/user_profile.png' %}" alt="user profile" style="width:85%;">
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row" style="align-items: center; display: flex; flex-wrap: wrap;">
      <div class="product_image col-sm-5 text-center">
        <img  src="{% static 'landing/images/product/offer_detail.png' %}" alt="user profile" style="width:85%;">
      </div>

      <div class="description col-sm-7">
        <p class="product-title" style="font-size:26px;">{% trans "Moneda Social " %}</p>
        <p style="font-size:20px; color:grey;">{% trans "Semillas promociona el bien común. Retribuyendo en semillas trabajos a la comunidad o acciones cívicas." %}</p>
      </div>
    </div>
  </div>


{% endblock content %}

