{% extends "base.html" %}
{% block content %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load staticfiles %}

  <main>     
    <div>
        <h3>{% trans "Marketplace Social " %}</h3>
        <p>{% trans "Se basa en la abundancia de recursos, la capacidad creativa, artística, manual e intelectual de todos sus miembros. Los bienes y servicios ofertados aparecen ordenados por proximidad" %}</p>
        <p><img class="product_image" src="{% static 'landing/images/product/phone_feed.png' %}" alt="web phone feed"></p>
    </div>

     <div>
        <h3>{% trans "Cooperativa " %}</h3>
        <p>{% trans "Somos una cooperativa y nuestro producto es software libre. Ven y participa." %}</p>
        <p><img class="product_image" src="{% static 'landing/images/product/offer_detail.png' %}" alt="web phone offer detail"></p>
    </div>
     <div>
         <h3>{% trans "Moneda Social " %}</h3>
        <p>{% trans "Semillas promociona el bien común. Retribuyendo en semillas trabajos a la comunidad o acciones cívicas." %}</p>
        <p><img class="product_image" src="{% static 'landing/images/product/user_profile.png' %}" alt="user profile"></p>
    </div>
  </main>

{% endblock content %}

