{% extends "base.html" %}
{% block content %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load staticfiles %}

  <main>
    
    
    <h4 class="c-heading-sub">{% trans "Por qué Usar Semillas" %}</h4>
        <p>{% trans " La Semilla otorga soberanía local,  está sujeta a los procesos participativos y democráticos de las personas que usan la moneda y sus relaciones locales. Ponemos en movimiento los recursos que la economía formal no utiliza. "%}</p>
    

     

    

        



    <!-- <p>{% trans "Buscamos voluntarios de todo tipo: divulgadores, técnicos informáticos, economistas, abogados, traductores, amigos que nos traigan frutos secos y semillas." %}</p>
    <a href="{% url 'landing:people' %}" class="btn  btn--big">{% trans "Participa" %}</a>


   

    <div class="rule"></div>

    <h3 class="c-heading-section">{% trans "¿Cómo Funciona?" %}</h3>
    <h4 class="c-heading-sub">{% trans "Somos transparentes y sin ánimo de lucro" %}</h4>
    <p>{% trans "Semillas es una aplicación multiplataforma 100% OpenSource que va a permitir a los indivuos intercambiar bienes y servicios usando sus “Semillas” un artificio de intercambio inspirado en monedas sociales." %}</p>
    <p>{% trans "El diseño y la funcionalidad está muy inspirado en las aplicaciones de compraventa, como Wallapop. LetGo, Vibbo…" %}</p>

    <div class="rule"></div>

    <h3 class="c-heading-section">{% trans "¿Cómo conseguir semillas?" %}</h3>
    <ul class="list">
        <li>{% trans "Todo el mundo empieza con la misma cantidad de semillas, simplemente por pertenecer a la plataforma." %}</li>
        <li>{% trans "Se pueden conseguir semillas con comportamientos cívicos. Como por ejemplo usando transporte público o bicicleta." %}</li>
        <li>{% trans "Se pueden conseguir semillas con trabajos a la comunidad, esto se realiza en colaboración con diferentes colectivos y asociaciones vecinales." %}</li>
    </ul>

    <p>{% trans "Más información en " %}<a href="{% url 'landing:product' %}">{% trans "Producto y Código" %}</a>.</p>
  </main>
 -->
{% endblock content %}

