{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
{% load i18n %}

	<main>
		<h3 class="c-heading-section">{% trans "¿Cuál es nuestra filosofía?" %}</h3>
		<h4 class="c-heading-sub">{% trans "Economía monetaria y para-económica" %}</h4>

    {% if LANGUAGE_CODE == 'es' %}
      <img alt="" src="{% static 'landing/images/es/economies_comparison.png' %}" style="display: block;margin-left: auto;margin-right: auto;" title=""/>
    {% else %}
      <img alt="" src="{% static 'landing/images/en/economies_comparison.png' %}" style="display: block;margin-left: auto;margin-right: auto;" title=""/>
    {% endif %}

		<p>{% trans "Ambas son muy necesarias para el funcionamiento correcto de la sociedad. Todo el trabajo altruista de la segunda permite que la primera tenga un valor de cambio tan alto en el mercado." %}</p>

		<div class="rule"></div>

		<h4 class="c-heading-sub">{% trans "Economía monetaria" %}</h4>

		<p>{% trans "La monetaria está depredando a la paraeconómica en la búsqueda por el pleno empleo y el constante crecimiento económico. Además de estar depredando nuestros ritmos naturales y nuestros ecosistemas." %}</p>

		<h4 class="c-heading-sub">{% trans "Economía para-económica" %}</h4>

		<p>{% trans "La para-económica, muy dañada, primero, con la migración del campo a la ciudad. La incorporación de la mujer al mercado laboral (algo indudablemente muy bueno para la igualdad de género), y unidades familiares cada vez más frágiles (ejemplo: un padre soltero con dos hijas). Afectando a todas estas economías de ayuda mutua, economías de cuidados y economías de reutilización de bienes." %}</p>
		<p>{% trans "Este proyecto pretende ser un puente entre ambas economías. En ningún caso desafiar a la moneda de curso legal. Sino permitir a mucha gente obtener bienes de forma accesible." %}</p>
		<p>{% trans "Existen muchos proyectos de divisas sociales en marcha. Semillas es una tecnología abierta y confiable al servicio de lo humano y la naturaleza, como herramienta de cambio social." %}</p>

		<div class="rule"></div>

		<h3 class="c-heading-section">{% trans "¿A quién está enfocado?" %}</h3>
		<h4 class="c-heading-sub">{% trans "Somos una plataforma de intercambio de bienes y servicios" %}</h4>

		<ul class="list">
		  <li>{% trans "Trabajos fuera del PIB" %}</li>
		  <li>{% trans "Economía de cuidados" %}</li>
		  <li>{% trans "Acompañamiento de ancianos" %}</li>
		  <li>{% trans "Gente que quiere empezar a dedicarse a algo que le gusta hacer. Ganando experiencia y sustento." %}</li>
		  <li>{% trans "Aquellos que han quedado excluidos del mercado laboral. Simplemente porque la moneda de curso legal tiene un valor muy alto y no todo el mundo puede ganarla y a la vez tener la vida que necesita tener." %}</li>
		  <li>{% trans "Comunidades de la transición que quieran cambiar la realidad que vivimos." %}</li>
		  <li>{% trans "Productores y artesanos que quieran vender sus maravillosos productos por otro canal" %}</li>
		  <li>{% trans "Monedas sociales, redes de trueque o bancos de tiempo existentes que quieran fusionarse y empezar a usar esta herramienta." %}</li>
		</ul>


	</main>


{% endblock %}
