{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
{% load i18n %}

	<div class="container">
		<h4 class="c-heading-sub" style="font-size:32px;">{% trans "Misión" %}</h4>
	    <p style="font-size:19px;">{% trans " Semillas es una tecnología abierta y transparente al servicio de lo humano. Es una herramienta de cambio social por su potencia para construir redes entre iguales por donde circula, se distribuye y se intercambia la abundancia de recursos, la capacidad creativa, artística, manual e intelectual de todos sus miembros." %}</p>
		<div class="container-fluid">
			<div class="row" style="display: flex; flex-wrap:wrap;">

			    <div class="col-sm-7" >
				    <p style="font-size:19px;">{% trans " La Semilla otorga soberanía local,  está sujeta a los procesos participativos y democráticos de las personas que usan la moneda y sus relaciones locales." %}</p>


				    <h3 class="c-heading-sub" style="color:#4ca2cd;font-size:27px;">{% trans "Social" %}</h3>
			        <p style="font-size:19px;">

                {% blocktrans %}
                Porque las personas que la hemos creado queremos visibilizar la economía de cuidados y empoderar a cada individuo en sus habilidades. A través de las categorías para crear servicios en la app queremos inferir un uso social, solidario, sostenible y ecológico.
                {% endblocktrans %}
              </p>
			        <p style="font-size:19px;">

                {% blocktrans %}
                También queremos permitir la creación de moneda para pagar acciones sociales que beneficien al común. Buscamos organos o asociaciones que quieran realizar trabajos para el beneficio de todos y retribuirlo en Semillas (como por ejemplo arreglar su centro social).
                {% endblocktrans %}
                <a href=#bank> {% trans "Ir al Banco de Semillas" %} </a>
              </p>

				    <h3 class="c-heading-sub" style="color:#4ca2cd;font-size:27px;">{% trans "Software Libre" %}</h3>
			        <p style="font-size:19px;">{% trans " Todo el código que escribimos lo publicamos instantáneamente en Internet:"%}<a href="https://github.com/semillas"> https://github.com/semillas</a></p>
			        <p style="font-size:19px;">{% trans  " Si alguien modifica el producto, está obligado también a publicarlo en internet, pudiendo el resto de desarrolladores adoptar las mejoras." %}</p>
			        <p style="font-size:19px;">{% trans  " Por tanto es 100% redistribuible, copiable y modificable." %}</p>
			        <p style="font-size:19px;">{% trans  " No se pagan licencias por su uso." %}</p>
			        <p style="font-size:19px;">{% trans  " Cualquier entidad podría crearse su propia moneda utilizando este software." %}</p>

			    </div>
			    <div class="col-sm-5">
			    	<img class="img-responsive" src="{% static 'landing/images/product/feed2.png' %}" alt="">
			    </div>
			</div>
		</div>
	    <h3 class="c-heading-sub" style="color:#4ca2cd;font-size:27px;">{% trans "Crédito Mutuo" %}</h3>
    	<p style="font-size:19px;">{% trans " Semillas es un sistema de crédito mutuo. La suma de las cantidades positivas y negativas de todos sus miembros es 0. Propone una oxidación equitativa para incentivar el uso y evitar la acumulación." %}</p>
    	<p style="font-size:19px;">{% trans " Las Semillas cobran existencia en el mismo momento en el que dos personas o colectivos aceptan libremente un intercambio: a una se le suma el valor convenido en semillas y a otra se le resta esa misma cantidad." %}</p>
    	<p style="font-size:19px;">{% trans " Un saldo positivo indica que hemos aportado a la red más de lo que hemos consumido, mientras que un saldo negativo indica que hemos consumido de la red más de lo que hemos aportado. Así, cuando nuestro saldo sea negativo ofreceremos algún producto o servicio para ponernos en positivo, y cuando estemos en positivo consumiremos y reduciremos hasta valores negativos. "%}</p>

		<div class="container-fluid">
			<div class="row" style="display: flex; flex-wrap: wrap;">
			    <div class="col-sm-7" >
			        <h3 class="c-heading-sub" style="color:#4ca2cd;font-size:27px;">{% trans "Plug & Play" %}</h3>
			    	<p style="font-size:19px;">{% trans " A pesar de que hay diferentes grupos y experimentos con iniciativas similares, es muy complicado empezar a formar parte de ellas. Hay que enviar correos, ir a colectivos el día de asamblea. En Semillas darse de alta va a ser cuestión de segundos. "%}</p>

			     	<h3 class="c-heading-sub" style="color:#4ca2cd;font-size:27px;">{% trans "Local & Global" %}</h3>
			    	<p style="font-size:19px;">{% trans " El orden de las ofertas será por proximidad. La proximidad hará que se favorezca al mercado local. Sin embargo, queremos dar una posibilidad tecnológica para poder obtener, a cambio de tus semillas, clases de inglés al otro lado del océano. "%}</p>
			    </div>
			    <div class="col-sm-5">
			    	<img class="img-responsive" src="{% static 'landing/images/product/wallet.png' %}" alt="">
			    </div>
		    </div>
		</div>

	    <h3 class="c-heading-sub" style="color:#4ca2cd;font-size:27px;">{% trans "Moneda Colaborativa" %}</h3>
	    <p style="font-size:19px;">{% trans " Nuestra propuesta no es solo una moneda alternativa, si no también una herramienta para crear redes colaborativas. Propone sinergias con plataformas de economía colaborativa que acepten pago en semillas."%}</p>

	</div>
	<div class="container">
    	<h4 class="c-heading-sub" style="font-size:32px;">{% trans "Catalizador de Sobreranía" %}</h4>
    	<p style="font-size:19px;">{% trans " Semillas Social promociona el bien común. Retribuyendo en semillas trabajos a la comunidad o acciones cívicas.Para ello se apoya en los “Bancos de Semillas” "%}</p>

      <a name="bank"></a>
    	<h3  class="c-heading-sub" style="color:#4ca2cd;font-size:27px;">{% trans "Banco de semillas" %}</h3>
        <p style="font-size:19px;">{% trans " Es un grupo vecinal al cobijo de una institución pública o privada." %}</p>
        <p style="font-size:19px;">{% trans " El Banco de Semillas se encarga de crear y retribuir trabajos a la comunidad (índole social, ecológica, educativa, medioambiental) así como acciones cívicas." %}</p>
        <p style="font-size:19px;">{% trans " El siguiente ejemplo muestra ayuntamiento coordinando un banco de semillas. El ayuntamiento cierra el ciclo monetario aceptando La Semilla en el alquiler de polideportivos, pago de multas, etc. "%}</p>
        <img src="{% static 'landing/images/BancoSemillas.png' %}" style="width: 100%"">
	</div>

{% endblock %}
