{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
{% load i18n %}
        <h2>
         <text>
            <i class="fa fa-paw" aria-hidden="true"></i>
             {% trans "Privacidad" %}
         </text>
        </h2>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                     <blockquote class="blockquote">
                     <p class="m-b-0">{% trans "Aquí planteamos las preguntas más comunes" %}.</p>
                     <footer class="blockquote-footer">{% trans "Esperamos responder lo mejor posible" %} </footer>
                     </blockquote>
                </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                     <blockquote class="blockquote">
                     <p class="m-b-0">{% trans "Aquí planteamos las preguntas más comunes" %}.</p>
                     <footer class="blockquote-footer">{% trans "Esperamos responder lo mejor posible" %} </footer>
                     </blockquote>
                </div>
            </div>
        </div>
        <br>
<br><br><br><br><br>
{% endblock %}

