{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
{% load i18n %}
  
	<main class="container">
		<h3 class="c-heading-section">{% trans "Producto y Código" %}</h3>
	<h3 class="c-heading-sub">{% trans "Software libre" %}</h3>
        <p>{% trans " Todo el código que escribimos lo publicamos instantáneamente en Internet: https://github.com/semillas . Si alguien modifica el producto, está obligado también a publicarlo en internet, pudiendo el resto de desarrolladores adoptar las mejoras. Por tanto es 100% redistribuible, copiable y modificable. No se pagan licencias por su uso.Cualquier entidad podría crearse su propia moneda utilizando este software. "%}</p>
        
	
		<h4 class="c-heading-sub">{% trans "Trabajamos con tecnologías de Software Libre" %}</h4>

		<p>{% trans "The stack is Python/Django + Django Rest Framework Running on Heroku." %} </p>
    <p>{% trans "You can sign-up in this page and then visit: https://www.semillasocial.org/docs to browse our API REST" %}</p>
    <p>{% trans "The Web client is being crafted with ReactJS + Redux." %}</p>
    <p>{% trans "Start your own Mobile Client!!" %}</p>
    <p>{% trans "Here is the " %}<a href="https://github.com/Semillas">Github Account</a></p>

		<div class="grid">
			<div class="grid__item">
			  <h4>Django</h4>
			  <img src="{% static 'landing/images/django.png' %}" alt="Django image">
			  <p>{% trans "El framework de back-end que hace Semilla Social posible" %}.</p>
			  <a href="http://www.djangoproject.com" class="btn btn-link">Web</a>
			</div>
			<div class="grid__item">
			  <h4>Docker</h4>
			   <img src="{% static 'landing/images/docker.png' %}" alt="Docker image">
			  <p>{% trans "La herramienta que sostiene todo y hace fácil de exportar" %}.</p>
			  <a href="https://www.docker.com/" class="btn btn-link">Web</a>
			</div>
			<div class="grid__item">
			  <h4>GitHub</h4>
			  <img src="{% static 'landing/images/gitHub.png' %}" alt="GitHub image">
			  <p>{% trans "Donde almacenamos nuestro código y así como control de versiones" %}.</p>
			  <a href="https://www.github.com" class="btn btn-link">Web</a>
			  <a href="https://github.com/Semillas" class="btn btn-link">Repositorio</a>
			</div>
			<div class="grid__item">
			  <h4>Slack</h4>
			  <img src="{% static 'landing/images/web-slack.png' %}" alt="Slack Image">
			  <p>{% trans "El futuro de los chats. Donde los equipos se comuican y divierten" %}.</p>
			  <a href="https://slack.com/" class="btn btn-link">Web</a>
			  <a href="https://semillas.slack.com/" class="btn btn-link">Canal</a>
			</div>
			<div class="grid__item">
			  <h4>HTML5</h4>
			  <img src="{% static 'landing/images/html5.png' %}" alt="HTML5 Image">
			  <p>{% trans "HyperText Markup Language 5 es el lenguaje básico de la W3C" %}</p>
			  <a href="https://www.w3.org/TR/html5/" class="btn btn-link">Web</a>
			</div>
			<div class="grid__item">
			  <h4>Heroku</h4>
			  <img src="{% static 'landing/images/heroku.png' %}" alt="Heroku Image">
			  <p>{% trans "Heroku es una plataforma como servicio de computación en la Nube." %}</p>
			  <a href="https://www.heroku.com/" class="btn btn-link">Web</a>
			</div>
			<div class="grid__item">
			  <h4>Python</h4>
			  <img src="{% static 'landing/images/python.png' %}" alt="Python Image">
			  <p>{% trans "Un potente lenguaje back-end con el que se ha hecho Django." %}</p>
			  <a href="https://www.python.org" class="btn btn-link">Web</a>
			</div>
			<div class="grid__item">
			  <h4>Linux</h4>
			  <img src="{% static 'landing/images/tux.png' %}" alt="Tux Image">
			  <p>{% trans "Linux es un sistema operativo que controla un ordenador." %}</p>
			  <a href="https://www.linux.com/" class="btn btn-link">Web</a>
			</div>
			<div class="grid__item">
			  <h4>Swagger</h4>
			  <img src="{% static 'landing/images/swagger.png' %}" alt="Swagger Image">
			  <p>{% trans "Nos permite probar la calidad del código" %}</p>
			  <a href="http://swagger.io" class="btn btn-link">Web</a>
			</div>
			<div class="grid__item">
			  <h4>Sentry</h4>
			  <img src="{% static 'landing/images/sentry.png' %}" alt="Sentry Image">
			  <p>{% trans "Usamos Sentry para solucionar problemas en el servidor" %}</p>
			  <a href="https://sentry.io" class="btn btn-link">Web</a>
			</div>
			<div class="grid__item">
			  <h4>JavaScript</h4>
			  <img src="{% static 'landing/images/JS.png' %}" alt="JavaScript Image">
			  <p>{% trans "Usamos JavaScript para hacer la web más amistosa" %}</p>
			  <a href="#" class="btn btn-link">Web</a>
			</div>
			<div class="grid__item">
			  <h4>{% trans "Creative Commons" %}</h4>
			  <img src="{% static 'landing/images/creativeCommons.png' %}" alt="License Image">
			  <p>{% trans "Creative Commons es una corporación sin ánimo de lucro" %}</p>
			  <a href="http://creativecommons.org" class="btn btn-link">Web</a>
			</div>
		</div>

		<div class="rule"></div>

		<h3 class="c-heading-section">{% trans "Obtención de Semillas" %}</h3>
		<h4 class="c-heading-sub">{% trans "Cada persona empieza con la misma cantidad de semillas" %}</h4>
		
		<ul class="list">
		  <li>{% trans "Registro con verificación de SMS: 5 semillas" %}</li>
		  <li>{% trans "Publicación del primer servicio: 5 semillas" %}</li>
		  <li>{% trans "Primera venta o primer servicio ofrecido: 5 semillas" %}</li>
		</ul>
		
		<div class="rule"></div>
		
		<h3 class="c-heading-section">{% trans "Creación de Semillas" %}</h3>
		<h4 class="c-heading-sub">{% trans "Comportamiento Cívico y Servicios a la comunidad" %}</h4>

		<p>{% trans "Comportamientos Cívicos: Como Biko, que por cada kilómetro hecho en bicicleta en una ciudad, se paga con puntos útiles para pagar tasas del ayuntamiento. Queremos introducir medidas para premiar con Semillas comportamiento cívico." %}</p>
		<p>{% trans "Determinados servicios a la comunidad serán remunerados por semillas. En colaboración con asociaciones locales se organizarán sesiones de trabajo en grupo donde todos los voluntarios serán retribuídos en Semillas." %}</p>

		<div class="rule"></div>
		
		<h3 class="c-heading-section">{% trans "Donación de Euros para obtener Semillas" %}</h3>
		<h4 class="c-heading-sub">{% trans "La importancia de colaborar en la comunidad" %}</h4>
		
		<p>{% trans "Cualquier donación en euros para desarrollar y fomentar la plataforma tendrá una recompensa en el mismo número de semillas. 1 Euro - 1 Semilla. " %}</p>
	
		<div class="rule"></div>
		
		<h3 class="c-heading-section">{% trans "Local y Global" %}</h3>
		<h4 class="c-heading-sub">{% trans "El orden de las ofertas será por proximidad" %}</h4>
	
		<p>{% trans "La proximidad hará que se favorezca al mercado local. Sin embargo, queremos dar una posibilidad tecnológica para poder obtener, a cambio de tus semillas, clases de inglés al otro lado del océano." %}</p>
</main>


{% endblock %}
