{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
{% load i18n %}

  <main>
  
  <h3 class="c-heading-section">{% trans "El Equipo" %}</h3>
  <h4 class="c-heading-sub">{% trans "Personas que colaboran en Semilla Social" %}</h4>

  <div class="grid">
    <div class="grid__item">
      <h4>Ismael</h4>
      <img src="{% static 'landing/images/Ismael.jpg' %}" class=" center-block img-thumbnail img-fluid img-circle" alt="...">
      <p>{% trans "Desarrollador Back-end. Interesado en economía, política, educación y tecnología." %}</p>
      <p><a href="https://www.linkedin.com/in/ismaeldeesteban" class="btn" role="button">Linkedin</a></p>
    </div>
    <div class="grid__item">
      <h4>Criselda Martel Palmés</h4>
      <img src="{% static 'landing/images/fedora.jpg' %}" alt="...">
      <p>{% trans "Traducciones" %}</p>
      <p>Toronto. Canada.</p>
      <p><a href="https://www.linkedin.com/in/albertobsaez" class="btn" role="button">Linkedin</a></p>
    </div>
    <div class="grid__item">
      <h4>Alipio Muñiz de Gorostiza</h4>
      <img src="{% static 'landing/images/alipio.jpg' %}" alt="...">
      <p>{% trans "Interesado en encontrar ecoalternativas y asesorar sobre monedas sociales." %}</p>
      <!-- <p><a href="http://www.ecoalternative.net/" class="btn">EcoAlternative</a></p> -->
      <p><a href="https://www.linkedin.com/in/alipio" class="btn">Linkedin</a></p>
    </div>
    <div class="grid__item">
      <h4>Ignacio Villanueva</h4>
      <img src="{% static 'landing/images/ignacio-villanueva.jpg' %}" alt="...">
      <p>{% trans "Front-end. Especializado en web performance, responsive web design y software libre" %}</p>
      <p><a href="http://ignaciodenuevo.com/" class="btn" role="button">Web</a></p>
    </div>
    <div class="grid__item">
      <h4>Alberto</h4>
      <img src="{% static 'landing/images/AlbertoBernabe.jpg' %}" alt="...">
      <p>Marketing Mentor & Marketing Manager {% trans "at" %} SkyScanner.</p>
      <p>Edinburgh, United Kingdom.</p>
      <p><a href="https://www.linkedin.com/in/albertobsaez" class="btn" role="button">Linkedin</a></p>
    </div>
    <div class="grid__item">
      <h4>Alicia Zunzunegui</h4>
      <img src="{% static 'landing/images/alicia.jpg' %}" class=" center-block img-thumbnail img-fluid img-circle" alt="...">
      <p>Marketing Mentor</p>
      <p>Barcelona</p>
      <p><a href="https://www.linkedin.com/in/aliciazunzunegui" class="btn" role="button">Linkedin</a></p>
    </div>
    <div class="grid__item">
      <h4>Pedro</h4>
      <img src="{% static 'landing/images/p01010101.png' %}" alt="...">
      <p>{% trans "Desarrollador full stack. Interesado en el software libre, Linux y nuevas tecnologías." %}</p>
      <p><a href="https://www.linkedin.com/in/pecordero" class="btn" role="button">Linkedin</a></p>
    </div>
    <div class="grid__item">
      <h4>Leire</h4>
      <img src="{% static 'landing/images/LeireDeEsteban.jpg' %}" alt="...">
      <p>{% trans "Community Manager. Pamplona." %}</p>
    </div>
    <div class="grid__item">
      <h4>Heather</h4>
      <img src="{% static 'landing/images/Heather_Johnston.jpg' %}" alt="...">
      <p>{% trans "Traducciones" %}, Gijón Asturias.</p>
    </div>
    <div class="grid__item">
      <h4>- ????? -</h4>
      <img src="{% static 'landing/images/unkown.png' %}" alt="">
      <p>{% trans "Necesitamos gente, ¿Quieres participar en el proyecto?" %}</p>
    </div>
  </div>
  
  <h2 class="featurette-heading">{% trans "Historia:" %} <span class="text-muted">{% trans "cómo surgió" %}</span></h2>
  <quote>{% trans "Semilla social pretende constituírse como ONG. Este proyecto nace como open source y sin ánimo de lucro." %}</quote>

  <div>
    {% blocktrans %}
       Pensamos que otra forma de economía es posible. Pensamos que toda persona
       puede ofrecer algo y que eso debería ser suficiente para cubrir los mínimos de una vida digna.
       Diseñamos esta plataforma para ofrecer un medio, un soporte para un fin.
       Somos un grupo de hacktivistas, no hacemos esto por dinero.
       Buscamos todo tipo de ayuda. Ahora especialmente Android, iOS, diseño,
       frontend...
    {% endblocktrans %}
  </div>

  {% endblock %}
  {% block footer %}
    <li><a href="{% url 'info' %}">Info</a> </li>
    <li class="active">{%trans "Quiénes somos" %}</li>
  {% endblock %}

</main> 
