// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// --------------------------------
// Text
// --------------------------------
$headingsFont:
        "Droid Serif",
        "San Francisco",
        "Arial",
        "Helvetica",
        "Verdana",
        sans-serif;

$bodyFont:
        "Fira Sans",
        "Georgia",
        "Times New Roman",
        "Palatino",
        serif;



// --------------------------------
// Base Colors
// --------------------------------
$alertColor:        #67b5db;
$backgroundColor:   #f1f1f1;
$headingsColor:     #b1957d;
$textColor:         #564f47;
$ctaColor:          #e29e4b;
$ctaSecondaryColor: #f0c68c;

// --------------------------------
// Grey Colors
// --------------------------------
$lightGrey:        #a0a0a0;
$mediumGrey:       #282828;
$darkGrey:         #121212;



// --------------------------------
// Max-Width
// --------------------------------
$max-width:       800px;



// --------------------------------
/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
// --------------------------------
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
