<!DOCTYPE html>
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!--TODO: this magic needs to be installed with pip...
  {-!-% load bootstrap3 %}
  {!% bootstrap_css %}
  {!% bootstrap_javascript %}
  {!% bootstrap_messages %} -->
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <script src="https://use.fontawesome.com/5ca06a28bc.js"></script>
    <!--link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"/-->
    <title>{% block title %}Semillas{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Open Graph data -->
    <meta property="og:title" content="Semilla Social" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="semillasocial.org" />
    <meta property="og:image" content="https://www.semillasocial.org/static/images/logo.png" />
    <meta property="og:description" content="Semilla Social es una plataforma transparente y sin ánimo de lucro de intercambio de bienes y servicios donde se puede participar sin moneda de curso legal." />
    <meta property="og:site_name" content="semillasocial.org" />

    <!-- Twitter cards -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@semilla_social">
    <meta name="twitter:domain" content="semillasocial.org">
    <meta name="twitter:creator" content="@semilla_social">
    <meta name="twitter:title" content="Semilla Social">
    <meta name="twitter:image" content="https://www.semillasocial.org/static/images/logo.png">
    <meta name="twitter:description" content="Semilla Social es una plataforma transparente y sin ánimo de lucro de intercambio de bienes y servicios donde se puede participar sin moneda de curso legal.">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif%7CFira+Sans" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/static/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/static/images/favicon/manifest.json">
    <link rel="mask-icon" href="/static/images/favicon/safari-pinned-tab.svg" color="#ffffff">
    <link rel="shortcut icon" href="/static/images/favicon/favicon.ico">
    <meta name="msapplication-config" content="/static/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    
    

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <!-- CSS -->
    {% block css %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link href="{% static '/css/main.css' %}" rel="stylesheet">
    {% endblock %}

  <!-- JavaScript -->
    {% block javascript %}
      <script type="text/javascript" src="{% static 'js/project.js' %}" defer="defer"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
       
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <!--  <script src="{% static "js/jquery-1.11.1.js" %}"></script> -->
     
      {% endblock javascript %}
      {% block javascript_level2 %}
     {% endblock javascript_level2 %}
  </head>
  <body>

    <!-- Header -->
      <header class="page-head--masthead">
        <div class="wrapper">
          <nav id="nav" class="site-nav  clearfix">
            <a href="/"><!-- <img class="site-nav__logo" src="{% static 'images/logo.png' %}" alt="Semilla Social Logo"> -->
            <img class="logo" style="width:85px; height:85px;border-radius: 100px;background-color: white;padding: 10px;" src="{% static 'images/logo.png' %}" alt="Semilla Social Logo">
            </a>
            <ul>
              <li>
                <a class="{% if request.resolver_match.view_name == "landing:porque" %}is-active{% endif %} site-nav__home-link" href="{% url 'landing:porque' %}">{% trans "Por qué usar Semillas" %}</a>
              </li>
              <li>
                <a class="{% if request.resolver_match.view_name == "landing:product" %}is-active{% endif %} site-nav__home-link" href="{% url 'landing:product' %}">{% trans "Producto y Código" %}</a>
              </li>
              <li>
                <a class="{% if request.resolver_match.view_name == "landing:people" %}is-active{% endif %} site-nav__home-link" href="{% url 'landing:people' %}">{% trans "Quiénes Somos" %}</a>
              </li>
              <!-- {% if request.user.is_authenticated %}
                <li>
                  {% block nav-user %}
                    <a class="site-nav__home-link" href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a>
                {% endblock %}
                </li>
                <li>
                  {% block nav-logout %}
                    <a class="site-nav__home-link" href="{% url 'account_logout' %}">{% trans "Sign out" %}</a>
                {% endblock %}
                </li>
                {% else %}
                <li>
                  {% block nav-signup %}
                    <a class="site-nav__home-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
                {% endblock %}
                </li>
                <li>
                  {% block nav-signin %}
                    <a class="site-nav__home-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
                {% endblock %}
                </li>
              {% endif %} -->
            </ul>
          </nav>
          <div class="page-head--content">
            <p style="color:white; font-size: 38px; padding-left: 20px;">App móvil de compraventa de bienes y servicios con monedas virtuales.</p>
          </div>
        </div>
      </header>

<div class="container-fluid">
    <!-- Form -->
    <!-- Revisar, da error al hacer click -->
      <div class="flag-form">
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        <form action="{% url 'set_language' %}" method="post" target=_self>{% csrf_token %}
          <input name="next" type="hidden" value="{{ redirect_to }}"/>
          {% for language in languages %}
          {% if LANGUAGE_CODE == language.code %}
            <button class="btn--flag" type="submit" {% if LANGUAGE_CODE != "es" %} value="es" name="language" title="Cambiar a Castellano">
              <img src="{% static 'images/spanish_flag.svg' %}" alt="Cambiar a Castellano" />
              {% else %}
                value="en" name="language" title="Change to English">
                <img src="{% static 'images/english_flag.svg' %}" alt="Change to English" />
              {% endif %}
            </button>
          {% endif %}
          {% endfor %}
        </form>
      </div>

    <!-- Content -->
      {% if messages %}
        {% for message in messages %}
          <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
        {% endfor %}
      {% endif %}
      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}
      {% block modal %}{% endblock modal %}
</div>
    <!-- Footer  class="foo clearfix" -->
      <footer style="background: #67b26f;background: -webkit-linear-gradient(to right, #67b26f, #4ca2cd);  background: linear-gradient(to right, #67b26f, #4ca2cd); padding-top: 30px; padding-bottom: 35px;">
        <div class="row">
          <div class="col-sm-6 text-center">
            <p style="color:white; font-size:20px;">Contacta con nosotros</p>
            <p style="color:white; font-size:13px;">hola@semillas.org</p>
            <p style="color:white; font-size:13px;">Madrid</p>
          </div>
          <div class="col-sm-3 text-center">
            <p style="color:white; font-size:20px;">Síguenos</p>
            <a href="https://twitter.com/semilla_social" style="color:white; font-size:13px;"><p>Twitter</p></a>
            <a href="https://www.facebook.com/semillasocial" style="color:white; font-size:13px;"><p>Faccebook</p></a>
            <a href="https://github.com/Semillas" style="color:white; font-size:13px;"><p>Github</p></a>
            <a href="#" style="color:white; font-size:13px;"><p>LinkedIn</p></a>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 text-center">
            <img class="logo" style="width:85px; height:85px;border-radius: 100px;background-color: white;padding: 10px;" src="{% static 'images/logo.png' %}" alt="Semilla Social Logo">
          </div>

        </div>
      </footer>
      <!-- Up button v1 TODO-->
      <a class="btn btn--alert" href="#nav">{% trans "Subir" %}</a>
      
      <script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.18.8'><\/script>".replace("HOST", location.hostname));
//]]></script>

  </body>
</html>

