<!DOCTYPE html>
{% load staticfiles i18n %}
<!--TODO: this magic needs to be installed with pip...
  {-!-% load bootstrap3 %}
  {!% bootstrap_css %}
  {!% bootstrap_javascript %}
  {!% bootstrap_messages %} -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <script src="https://use.fontawesome.com/5ca06a28bc.js"></script>

    <!--link rel="stylesheet" href="http://netdna.bootstrapcdn
    .com/font-awesome/4.0.3/css/font-awesome.css"/-->
    <title>{% block title %}Semillas{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
    <!-- Latest compiled and minified CSS -->
    <!--link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">


    <!-- Your stuff: Third-party css libraries go here -->

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}
  </head>

  <body>
    <div class="container">
    <div class="m-b">
      <nav class="navbar navbar-dark navbar-static-top bg-inverse">
          <a class="navbar-brand" href="/"><i class="fa fa-envira" aria-hidden="true"></i>Semillas</a>
          <button type="button" class="navbar-toggler hidden-sm-up pull-xs-right" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
            &#9776;
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-toggleable-xs" id="bs-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="{% url 'landing:people' %}"><i class="fa fa-users" aria-hidden="true"></i> {% trans "Quiénes Somos" %}</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="{% url 'landing:development' %}"><i class="fa fa-mobile" aria-hidden="true"></i> {% trans "Software" %}</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="{% url 'landing:contact' %}"><i class="fa fa-envelope" aria-hidden="true"></i> {% trans " Contacto" %}</a>
              </li>
            </ul>
            <ul class="nav navbar-nav pull-xs-right">
              {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Sign out" %}</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
                </li>
                <li class="nav-item">
                  <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
                </li>
              {% endif %}
            </ul>
          </div>
          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGES %}
          {% get_language_info_list for LANGUAGES as languages %}
              <form class="form-inline" action="{% url 'set_language' %}" method="post" target=_self>{% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}"/>
                  {% for language in languages %}
                    {% if LANGUAGE_CODE == language.code %}
                        <button  type="submit" class="btn btn-link"
                        {% if LANGUAGE_CODE != "es" %}
                         value="es" name="language"><i class="fa fa-flag-o" aria-hidden="true"></i> Cambiar a Castellano
                        {% else %}
                         value="en" name="language"><i class="fa fa-flag-o" aria-hidden="true"></i>  Change to English
                        {% endif %}
                        </button>
                      {% endif %}
                  {% endfor %}
              </form>
      </nav>
    </div>
  </div><!--container navbar-->
  <br>
    <div class="container">
      <br>
      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
          {% endfor %}
      {% endif %}

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}

    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      <!-- Latest JQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

      <!-- Tether - a requirement for Bootstrap tooltips -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->
      <!-- place project specific Javascript in this file -->

      <script src="{% static 'js/project.js' %}"></script>

    {% endblock javascript %}
    <!-- Up button v1 TODO-->
    <div class="container">
      <div class="col-xs-10 col-sm-7 col-md-9 col-lg-9">
      </div>
      <div class="col-xs-2 col-sm-5 col-md-3 col-lg-3 pull-right rounderly menos" align="right">
          <a href="#top"><text class="hidden-xs">{% trans "Subir" %}</text>
        <i class="fa fa-caret-square-o-up"></i></a>
     </div>
    </div>
    <br>
    <!-- footer -->
    <div class="container text-muted">
    <footer class="footer clearfix">
            <center>
                <small class="whiterly">{%trans "Hecho con:" %}</small>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a href="https://www.docker.com/" target=_blank>
                <img label="DockerIcon" id="minicono" src="{% static "images/DockerIcon.png" %}" class="rounderly" alt="DockerIcon"/>
              </a>
              <a href="https://github.com/Semillas" target=_blank>
                <img label="gitHubIcon" id="minicono" src="{% static "images/gitHubIcon.ico" %}" class="rounderly" alt="gitHubIcon"/>
              </a>
              <a href="https://www.python.org" target=_blank>
                <img label="PythonIcon" id="minicono" src="{% static "images/PythonIcon.png" %}" class="rounderly" alt="PythonIcon"/>
              </a>
              <a href="https://www.djangoproject.com" target=_blank>
                <img label="DjangoIcon" id="minicono" src="{% static "images/DjangoIcon.png" %}" class="rounderly" alt="DjangoIcon"/>
              </a>
              <a href="https://www.getbootstrap.com" target=_blank>
                <img label="BootstrapIcon" id="minicono" src="{% static "images/BootstrapIcon.png" %}" class="BootstrapIcon" alt="BootstrapIcon"/>
              </a>
              <a href="https://www.w3.org/TR/html5/" target=_blank>
                <img label="wwwIcon" id="minicono" src="{% static "images/HTMLicon.png" %}" class="rounderly" alt="wwwIcon"/>
              </a>
              <a href="https://en.wikipedia.org/wiki/JavaScript" target=_blank>
                <img label="JSicon" id="minicono" src="{% static "images/JSIcon.jpeg" %}" class="rounderly" alt="JSicon "/>
              </a>
               <br>
               <br>
              
              <small class="whiterly">
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>.
              </small>
               <br>
              <small class="whiterly"> Semillas 2016 - </small> ∞
<!--              
              <small>
              <ul class="list-inline">
                   <li class="list-inline-item">
                    <a href="{% url 'landing:FAQ' %}">FAQ</a>
                  </li>
                  <li class="list-inline-item">
                    <a class="footer-list-link"
                        href="{% url 'landing:about' %}">{% trans "Acerca de" %}</a>
                  </li>
                  <li class="list-inline-item">
                    <a class="footer-list-link"
                       href="{% url 'landing:terms' %}">{% trans "Términos" %}</a>
                  </li>
                  <li class="list-inline-item">
                    <a class="footer-list-link"
                        href="{% url 'landing:privacy' %}">{% trans "Privacidad" %}</a>
                  </li>
                  <li class="list-inline-item">
                    <a class="footer-list-link"
                        href="{% url 'landing:license' %}">{% trans "Licencia" %}</a>
                  </li>
            </ul>
            </small>
-->            
            </div>
            </center>
        </footer>
     </div>
  </body>
</html>

